<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="CustomSettings" type="TopCrawler.CustomSettingsConfigSection, TopCrawler" />
  </configSections>
  <CustomSettings>
    <CredentialsList>
      <!-- fbl mailbox -->
      <credentials hostname="8.8.8.8" username="email1@example.com" password="!QAZ2wsx" port="110" type="fbl" xdt:Transform="Insert" />
      <!-- bounce maibox -->
      <credentials hostname="8.8.8.8" username="email2@example.com" password="!QAZ2wsx" port="110" type="bounce" xdt:Transform="Insert" />
      <!-- crm mailbox -->
      <credentials hostname="8.8.8.8" username="email3@example.com" password="!QAZ2wsx" port="110" type="crm" xdt:Transform="Insert" />
    </CredentialsList>
  </CustomSettings>
</configuration>