<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CustomSettings" type="TopCrawler.CustomSettingsConfigSection, TopCrawler" />
  </configSections>
  <CustomSettings>
    <CredentialsList>
    </CredentialsList>
    <DataFlowOptionsList>
      <datablockoptions name="_sortMailDataBlock" maxdop="4" boundedcapacity="4" />
      <datablockoptions name="_spamFilterDataBlock" maxdop="4" boundedcapacity="4" />
      <datablockoptions name="_checkBounceDataBlock" maxdop="16" boundedcapacity="16" />
      <datablockoptions name="_identifyDataBlock" maxdop="16" boundedcapacity="16" />
      <datablockoptions name="_addToCrmDataBlock" maxdop="16" boundedcapacity="16" />
      <datablockoptions name="_addToFblDataBlock" maxdop="16" boundedcapacity="16" />
      <datablockoptions name="_addToBounceDataBlock" maxdop="16" boundedcapacity="16" />
    </DataFlowOptionsList>
  </CustomSettings>
  <appSettings>
    <add key="deletemail" value="true" />
    <!-- Каталог с плагинами (относительно директории исполняемого файла) -->
    <add key="plugindirectory" value="Plugins" />
    <!-- параметры для Zabbix -->
    <add key="processedcountkey" value="processed" />
    <add key="timingkey" value="timing" />
    <add key="errorkey" value="error" />
    <add key="hostkey" value="localhost" />
    <add key="notifyperiod" value="30" />
    <add key="zabbix.server" value="localhost" />
    <add key="zabbix.port" value="10051" />
  </appSettings>
  <connectionStrings>
    <add name="CRM" connectionString="Application Name=TopCrawler;database=CRM;server=tcp:localhost;user id=web;pwd=!QAZ2wsx" providerName="System.Data.SqlClient" />
    <add name="MailWH" connectionString="Application Name=TopCrawler;database=MailWH;server=tcp:localhost;user id=web;pwd=!QAZxsw2" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>