<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="CustomSettings" type="TopCrawler.CustomSettingsConfigSection, TopCrawler" />
  </configSections>
  <CustomSettings>
    <CredentialsList>
      <credentials hostname="8.8.8.8" username="mail1@example.com" password="!QAZ2wsx" port="110" type="fbl" xdt:Transform="Insert" /> 
      <credentials hostname="8.8.8.8" username="mail2@example.com" password="!QAZ2wsx" port="110" type="bounce" xdt:Transform="Insert" /> 
    </CredentialsList>
  </CustomSettings>
  <appSettings>
    <add key="hostkey" value="LOCALHOST" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
  </appSettings>
  <connectionStrings>
    <add name="CRM" connectionString="Application Name=DEV_TopCrawler;database=CRM;server=tcp:localhost\dev;user id=web;pwd=!QAZ2wsx"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
    <add name="MailWH" connectionString="Application Name=DEV_TopCrawler;database=MailWH_Dev;server=tcp:localhost\dev;user id=web;pwd=!QAZxsw2" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
  </connectionStrings>
</configuration>